# spacy library with cuda support; also install transformers lib (huggingface)
spacy[cuda-autodetect,transformers,lookups]

# download huggingface datasets easily
datasets

# deployment
fastapi
uvicorn

